html {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: darkgray;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.main {
    width: 100wh;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0.8em;
}

.accordion {
    margin: 0;
    padding: 0;
    list-style: none;
}

.accordion img {
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    transition: all 0.2s;
}

.accordion div:target img,
.accordion-item a:hover img {
    width: 240px;
    height: 350px;
    transition: all 0.5s;
}

.accordion p {
    display: flex;
    font-weight: bold;
    font-size: 1.3em;
    color: blue;
}

.accordion:hover p {
    color:black;
}

.accordion div:target p {
    color: black;
}

.accordion a {
    text-decoration: none;
}

.accordion a:focus p,
.accordion a:active p {
    color: black;
}

.accordion p::after {
    margin-left: auto;
    content: "";
    width: 1.1em;
    height: 1.1em;
}

.accordion p::after {
    display: none;
    background-image: url(./icons/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.accordion:hover p::after,
.accordion:focus p::after {
    display: inline-block;
}

.accordion div:target p::after {
    background-image: url(./icons/close.svg);
}
